<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoQASuite">
	<listeners>
		<listener class-name="WebDriverListeners.Listener"/>
	</listeners>
  <test thread-count="5" name="DemoQATest">
    <classes>
	  <class name="TestCases.TC02_TextBoxTest"/>		
      <class name="TestCases.TC01_DemoQAHomePageTest"/>
      <class name="TestCases.BaseClassDemoQA"/>
    </classes>
  </test> <!-- DemoQATest -->
</suite> <!-- DemoQASuite -->
